

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

html{
  scroll-behavior: smooth;
}

* {
    font-family: 'Cormorant Garamond', serif;
    color: #2F3D44;
}

*::-webkit-scrollbar {
    width: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background: #687F80;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #2F3D44;
    border-radius: 30px;
  }